/* 
@include respond(tablet-p) {

}

@include respond(tablet-l) {

}

@include respond(desktop) {

}

@include respond(desktop-xl) {

} 
*/
:root {
  --white: #ffffff;
  --grey-light: #dfdfdf;
  --grey-midlight: #adadad;
  --grey-midlight-2: #a5a5a5;
  --grey-mid: #808080;
  --grey-middark: #505050;
  --grey-dark: #3c3c3c;
  --black: #000000;
  --margin: 0.5rem;
}

.hero__spinning-card-face {
  animation: rotateAnimation 4s linear infinite;
}

@keyframes rotateAnimation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
:root {
  interpolate-size: allow-keywords;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  list-style: none;
}

html {
  font-size: 62.5%;
}
@media screen and (min-width: 37.5em) {
  html {
    font-size: 62.5%;
  }
}
@media screen and (min-width: 56.25em) {
  html {
    font-size: 67.5%;
  }
}
@media screen and (min-width: 75em) {
  html {
    font-size: 72.5%;
  }
}
@media screen and (min-width: 112.5em) {
  html {
    font-size: 77.5%;
  }
}

body {
  background-color: var(--white);
}

body {
  text-align: left;
}

.heading-primary, .heading-primary--sub, .heading-secondary, .heading-tertiary {
  color: var(--black);
}

.heading-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: calc(var(--margin) * 12);
}
@media screen and (min-width: 56.25em) {
  .heading-primary {
    margin-top: calc(var(--margin) * 6);
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
    font-size: 10rem;
    font-style: normal;
  }
}
.heading-primary--main {
  font-family: "Jacquard 24", system-ui;
  font-weight: 400;
  font-size: 5.5rem;
  font-style: normal;
}
@media screen and (min-width: 56.25em) {
  .heading-primary--main {
    margin-top: calc(var(--margin) * 6);
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
    font-size: 10rem;
    font-style: normal;
  }
}
.heading-primary--sub {
  font-size: 1.8rem;
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.heading-secondary, .heading-secondary--cv {
  font-family: "Jacquard 24", system-ui;
  font-weight: 400;
  font-size: 4rem;
  font-weight: 400;
  margin-bottom: calc(var(--margin) * 4);
}

.heading-secondary--cv {
  font-size: 1.8rem;
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  color: var(--grey-dark);
  display: inline;
  vertical-align: middle;
}

.heading-tertiary, .heading-tertiary--cv {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: calc(var(--margin) * 1.25);
}

.heading-tertiary--cv {
  margin-bottom: 0;
  color: var(--grey-dark);
}

.heading-quarternary {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--grey-mid);
  margin-bottom: calc(var(--margin) * 1.25);
}

.header__link {
  font-size: 1.5rem;
  font-weight: 600;
}

.paragraph, .listitem {
  font-size: 1.75rem;
  margin-bottom: calc(var(--margin) * 1.25);
}

.listitem-p {
  list-style: none;
  padding-right: 1rem;
}

.cv__bodytext, .heading-tertiary--cv, .heading-quarternary {
  font-size: 65%;
}

.header {
  z-index: 1;
  margin: 0;
  width: 99vw;
  position: fixed;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border: solid 1px var(--grey-midlight-2);
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--grey-light);
  flex-shrink: 0;
}
.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.4rem;
  flex-shrink: 0;
}
.header__link {
  color: var(--grey-dark);
  text-decoration: none;
  padding: 1.6rem 1.5rem;
}
.header__link:hover {
  background-color: var(--white);
}

@media screen and (min-width: 37.5em) {
  .header {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0.8rem;
    background-color: var(--grey-light);
    /* box-shadow: 0rem 0.2rem 0.5rem var(--grey-dark); */
    border-radius: 1rem;
    flex-shrink: 0;
    width: unset;
  }
  .header__link {
    padding: 1rem 2rem;
  }
}
@media screen and (min-width: 56.25em) {
  .header {
    position: relative;
    background-color: var(--white);
    box-shadow: unset;
    margin: 0;
    border: unset;
    border-radius: 0;
    width: 100vw;
    flex-shrink: 0;
  }
  .header__link:hover {
    background-color: var(--grey-light);
    border-radius: 0.5rem;
  }
}
.accordion {
  background-color: var(--grey-light);
  margin-bottom: 0.5rem;
  padding: 1rem;
  border-radius: 1rem;
  border: solid 1px var(--grey-midlight-2);
  height: 100%;
}

.accordion:hover {
  cursor: pointer;
}

.accordion__summary::marker {
  color: var(--grey-mid);
  font-size: 1.5rem;
}

.accordion__inliner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.accordion__inliner > .heading-secondary--cv {
  margin-bottom: 0;
}

.accordion__pointer {
  width: 1.5rem;
}

.accordion:open .accordion__pointer {
  transform: rotate(180deg);
  transition: transform 0.2s;
}

.accordion:not(:open) .accordion__pointer {
  transform: rotate(90deg);
  transition: transform 0.2s;
}

.accordion__divider {
  margin: 1rem -1rem;
  border-top: solid 1px var(--grey-midlight-2);
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

.hero {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hero__spinning-card {
  height: 26.4rem;
  width: 18.6rem;
  position: relative;
  perspective: 100rem;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
@media screen and (min-width: 37.5em) {
  .hero__spinning-card {
    height: 28.6rem;
    width: 20.15rem;
  }
}
@media screen and (min-width: 56.25em) {
  .hero__spinning-card {
    height: 30.8rem;
    width: 21.7rem;
  }
}
@media screen and (min-width: 75em) {
  .hero__spinning-card {
    height: 33rem;
    width: 23.25rem;
  }
}
@media screen and (min-width: 112.5em) {
  .hero__spinning-card {
    height: 35.2rem;
    width: 24.8rem;
  }
}
.hero__spinning-card-face-front, .hero__spinning-card-face-back {
  height: 100%;
  width: 100%;
  position: absolute;
}
.hero__spinning-card-face-front {
  z-index: 3;
  backface-visibility: hidden;
}
.hero__spinning-card-face-back {
  z-index: 2;
}

.hobby-article {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.hobby-article__card {
  height: 26.4rem;
  width: 18.6rem;
  border-radius: 1.3rem;
  box-shadow: 0rem 0.2rem 0.8rem var(--grey-dark);
}
@media screen and (min-width: 37.5em) {
  .hobby-article__card {
    height: 28.6rem;
    width: 20.15rem;
  }
}
@media screen and (min-width: 56.25em) {
  .hobby-article__card {
    height: 30.8rem;
    width: 21.7rem;
  }
}
@media screen and (min-width: 75em) {
  .hobby-article__card {
    height: 33rem;
    width: 23.25rem;
  }
}
@media screen and (min-width: 112.5em) {
  .hobby-article__card {
    height: 35.2rem;
    width: 24.8rem;
  }
}
.hobby-article__listitem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (min-width: 37.5em) {
  .hobby-article__listitem {
    margin: calc(var(--margin) * 6) calc(var(--margin) * 0.5);
    list-style-type: none;
    flex-direction: row;
    padding-left: 2rem;
  }
  .hobby-article__listitem:nth-child(even) {
    flex-direction: row-reverse;
    padding-left: 0;
    padding-right: 2rem;
  }
}
.hobby-article__textbox {
  /* top | right | bottom | left */
  margin: calc(var(--margin) * 4) 0 calc(var(--margin) * 12) 0;
  padding: 0 2rem;
  text-align: center;
}
@media screen and (min-width: 37.5em) {
  .hobby-article__textbox {
    text-align: start;
    width: min(93.75vw, 50ch);
    margin: 0 calc(var(--margin) * 10);
    padding: 0;
  }
}
@media screen and (min-width: 56.25em) {
  .hobby-article__textbox {
    width: 65ch;
  }
}

.cv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cv__body {
  background-color: rgba(0, 128, 255, 0.5019607843);
  background-color: rgba(255, 255, 255, 0.0078431373);
}
.cv__body--open {
  display: none;
}
.cv__body--tucked {
  width: 90vw;
}
.cv__subsection {
  margin: var(--margin);
  padding: 3rem;
  background-color: var(--grey-light);
  border: solid 1px var(--grey-midlight-2);
  border-radius: 1rem;
}
@media screen and (min-width: 56.25em) {
  .cv__body--open {
    display: grid;
    max-width: 90vw;
  }
  .cv__body--tucked {
    display: none;
  }
}
@media screen and (min-width: 75em) {
  .cv__body--open {
    display: grid;
    max-width: 66.6666666667vw;
  }
  .cv__body--tucked {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
