:root {
    --white: #ffffff;
    --grey-light: #dfdfdf;
    --grey-midlight: #adadad;
    --grey-midlight-2: #a5a5a5;
    --grey-mid: #808080;
    --grey-middark: #505050;
    --grey-dark: #3c3c3c;
    --black: #000000;

    --margin: 0.5rem;
}
