:root {
    --bg: white;
    --headings: black;
    --card-bg: silver;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: solid 1px hotpink; */
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--bg);
}

header {
    z-index: 1;
}

h1, h2, h3, h4, h5, h6, .subheading {
    color: var(--headings);
}

h1 {
    margin-top: 2rem;
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
    font-size: 4rem;
    font-style: normal;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

h3 {
    font-weight: 600;
}

h4 {
    font-weight: 600;
}

.subheading {
    font-size: 1rem;
}

.header_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.4rem;
}

nav a {
    color: #3c3c3c;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.2rem;
    padding: 1.6rem 1.5rem;
}

nav a:hover {
    background-color: white;
}

.hero {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card {
    height: calc(88px * 4);
    width: calc(62px * 4);
    position: relative;
    perspective: 100rem;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}

.card>img {
    
	animation: rotateAnimation 4s linear infinite;
}

.card_front, .card_back {
    height: 100%;
    width: 100%;
    position: absolute;
}

.card_front {
    z-index: 3;
    backface-visibility: hidden;
}

.card_back {
    z-index: 2;
}

@keyframes rotateAnimation {
	from {transform: rotateY(0deg);}
	to {transform: rotateY(180deg);}
    to {transform: rotateY(360deg)}
}

#hobby_breakdown {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.container>.hobby:nth-child(even) {
    flex-direction: row-reverse;
}
.textbox {
    flex-shrink: 0;
    width: 55ch;
    margin: 0 5rem;
}

.hobby {
    width: calc(100% / 3 - 1vw);
    margin: 3rem 0.2rem;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.hobby>img {
    border-radius: 1.3rem;
    box-shadow: 0rem 0.2rem 0.8rem #3c3c3c;
}

.container>li:nth-child(even) {
    margin: 0 1vw;
}

@media only screen and (max-width: 480px) {
    header {
        margin: 0;
        border-radius: 0;
        width: 100vw;
        position: fixed;
        bottom:0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #dfdfdf;
    }
}

@media only screen and (min-width: 480px) {
    header {
        position: fixed;
        bottom:0;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 0.8rem;
        background-color: #dfdfdf;
        box-shadow: 0rem 0.2rem 0.5rem #3c3c3c;
        border-radius: 1rem;
    }

    nav a {
        padding: 1rem 2rem;
    }
}

@media only screen and (min-width: 992px) {
    h1 {
    margin-top: 3rem;
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
    font-size: 10rem;
    font-style: normal;
    }

    .subheading {
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.5rem;
    }

    header {
        position: fixed;
        background-color: #fff;
        left: 50%;
        bottom: auto;
        transform: translateX(-50%);
        box-shadow: unset;
        margin: 0;
        border-radius: 0;
        width: 100vw;
    }

    nav a:hover {
        background-color: #dfdfdf;
        border-radius: 0.5rem;
    }
}
