.popup {
    width: 100%;
    height: 100%;
    background-color: var(--shadow);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 0;
    visibility: hidden;

    &:target {
        opacity: 1;
        visibility: visible;
    }

    &__content {
        width: 100vw;
        height: 85vh;
        background-color: var(--grey-light);
        position: fixed;
        bottom: 0;
        border-top-left-radius: 2rem;
        border-top-right-radius: 2rem;
        box-shadow: 0px -0.5rem 2rem var(--shadow);
        overflow: scroll;
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    &__img {
        width: 100%;
        border-block: solid 1px var(--grey-midlight-2);
        margin-bottom: calc(var(--margin) * 4);
    }

    &__textbox {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: start;
        flex-direction: column;
    }

    &__title {
        width: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__close {
        margin: auto 0;
        height: 3rem;
        width: 3rem;
        text-decoration: none;
        color: var(--grey-dark);
        border: solid 1px var(--grey-midlight-2);
        border-radius: 0.5rem;
        padding-inline: 1rem;

        &:hover {
            background-color: var(--white);
        }
    }

    @include respond(tablet-l) {
        .popup__content {
            @include absoluteCenter;
            width: 75%;
            border-radius: 0.5rem;
            
        }
    }

    @include respond(desktop) {
        .popup__content {
            @include absoluteCenter;
            width: 50%;
            
        }
    }
}