.hero__spinning-card-face {
	animation: rotateAnimation 4s linear infinite;
}

@keyframes rotateAnimation {
	from {transform: rotateY(0deg);}
	to {transform: rotateY(180deg);}
    to {transform: rotateY(360deg)}
}
