body {

    text-align: left;

}

.heading-primary, .heading-primary--sub, .heading-secondary, .heading-tertiary {
    color: var(--black);
}

.heading-primary{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6rem;

    @include respond(tablet-l) {
        margin-top: 3rem;
        font-family: "Jacquard 24", system-ui;
        font-weight: 400;
        font-size: 10rem;
        font-style: normal;
    }

    &--main {
        font-family: "Jacquard 24", system-ui;
        font-weight: 400;
        font-size: 5.5rem;
        font-style: normal;

        @include respond(tablet-l) {
            margin-top: 3rem;
            font-family: "Jacquard 24", system-ui;
            font-weight: 400;
            font-size: 10rem;
            font-style: normal;
        }
    }

    &--sub {
        font-size: 1.8rem;
        font-family: "Funnel Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        
    }
}

.heading-secondary, .heading-secondary--cv {
    font-family: "Jacquard 24", system-ui;
    font-weight: 400;
    font-size: 4rem;
    font-weight: 400;
    margin-bottom: 2rem;
}

.heading-secondary--cv {
    font-size: 1.8rem;
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: var(--grey-dark);
    display: inline;
    vertical-align: middle;
}

.heading-tertiary, .heading-tertiary--cv {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 0.8rem;
}

.heading-tertiary--cv {
    margin-bottom: 0;
    color: var(--grey-dark);
}

.heading-quarternary {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--grey-mid);
    margin-bottom: 0.8rem;
}

.header__link {
    font-size: 1.5rem;
    font-weight: 600;
}

.paragraph, .listitem {
    font-size: 1.75rem;
    margin-bottom: 0.8rem;
}

.listitem-p {
    list-style: none;
    padding-right: 1rem;
}

.cv__bodytext, .heading-tertiary--cv, .heading-quarternary {
    font-size: 65%;
}

.cv__griditem-1 {
    width: 17.5vw;
}

.cv__griditem-2 {
    width: 39vw;
}

.cv__griditem-3 {
    grid-column: 1 / 2; 
}



