.heading-primary{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: calc(var(--margin) * 12);

    @include respond(tablet-l) {
        margin-top: calc(var(--margin) * 6);
        font-family: "Jacquard 24", system-ui;
        font-weight: 400;
        font-size: 10rem;
        font-style: normal;
    }

    &--main {
        font-family: "Jacquard 24", system-ui;
        font-weight: 400;
        font-size: 5.5rem;
        font-style: normal;

        @include respond(tablet-l) {
            margin-top: calc(var(--margin) * 6);
            font-family: "Jacquard 24", system-ui;
            font-weight: 400;
            font-size: 10rem;
            font-style: normal;
        }
    }

    &--sub {
        font-size: 1.8rem;
        font-family: "Funnel Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        
    }
}

.heading-secondary {
    font-family: "Funnel Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-size: 3rem;
}

.heading-tertiary {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: calc(var(--margin) * 1.25);
}

.heading-quarternary {
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--grey-dark);
    margin-bottom: calc(var(--margin) * 1.25);
}

.header__link {
    font-size: 1.5rem;
    font-weight: 600;
}

.paragraph {
    font-size: 1.75rem;
    margin-bottom: calc(var(--margin) * 1.25);
    hyphens: auto;
}

/* CV */

.cv {

    &__h1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-block: calc(var(--margin) * 6);
}
    &__h2 {
        font-size: 1.8rem;
        font-family: "Funnel Sans", sans-serif;
        font-optical-sizing: auto;
        font-weight: 600;
        font-style: normal;
        color: var(--grey-dark);
        display: inline;
        vertical-align: middle;
    }

    &__h3 {
        margin-bottom: 0;
        color: var(--grey-dark);
    }

    &__bodytext {
        font-style: italic;
        color: var(--grey-mid);
    }

    &__list-item {
        font-size: 1.75rem;
    }

    &__bodytext, &__h3, &__h4 {
        font-size: 65%;
        hyphens: auto;
    }
}

/* Projects */

.projects__h2 {
    margin-block: calc(var(--margin) * 8);
}

/* Popup */

.popup__h3 {
    margin-block: calc(var(--margin) * 4);
}
