.cv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__body {
        &--open {
            display: none;
        };

        &--tucked {
            width: 90vw;
        };
    };

    &__bodytext {

    };

    &__list {

    };

    &__list-item {

    };

    &__subsection {
        
        padding: 3rem;
        background-color: var(--grey-light);
        border: solid 1px var(--grey-midlight-2);
        border-radius: 1rem;
    };

    @include respond(tablet-p) {
        &__body {

            &--open {

            };

            &--tucked {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            };
        };

        &__bodytext {

        };

        &__list {

        };

        &__list-item {

        };

        &__subsection {
            
        };
    }

    @include respond(tablet-l) {
        &__body {

            &--open {
                display: grid;
                height: 55vh;
                width: calc(100vw / 4 * 3);
                margin: 0;
                padding: 0;
                gap: var(--margin);
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
                grid-template-rows: 1fr 1fr 1fr 1fr;
                grid-template-areas: 
                "box-2 box-2 box-1 box-1 box-1"
                "box-2 box-2 box-1 box-1 box-1"
                "box-2 box-2 box-1 box-1 box-1"
                "box-2 box-2 box-3 box-3 box-3";
            };

            &--tucked {
                display: none;
            };
        };

        &__griditem-1 {
            grid-area: box-1;
        };

        &__griditem-2 {
            grid-area: box-2;

        };

        &__griditem-3 {
            grid-area: box-3;
        };

        &__bodytext {

        };

        &__list {
            display: flex;
            justify-content: flex-start;
            justify-items: center;
            align-items: center;
            flex-wrap: wrap;
        };

        &__list-item {
            padding-right: 1rem;
        };

        &__subsection {

        };

        &__divider {
            margin-top: calc(var(--margin) * 4);
            width: 20%;
            border-top: solid 1px var(--grey-midlight-2);
            border-bottom: 0;
            border-left: 0;
            border-right: 0;
        }
    }

    @include respond(desktop) {
        &__body {

            &--open {
                width: calc(100vw / 3 * 2);
            };

            &--tucked {
            };
        };

        &__bodytext {

        };

        &__list {

        };

        &__list-item {

        };

        &__subsection {

        };
    }
    
}

.cv>h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: calc(var(--margin) * 6);
}

.padding-adder {
    padding-bottom: calc(var(--margin) * 2);
}

.projects {
    margin-top: calc(var(--margin) * 6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 90vw;
}

.projects__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-shrink: auto;
    flex-wrap: wrap;
    max-width: 90vw;
    
}

.projects__unit {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: calc(var(--margin) * 2);
}

.card {
    height: calc(8.8rem * 3);
    width: calc(6.2rem * 3);
    margin-bottom: var(--margin);
    margin-inline: calc(var(--margin) * 3);
    border-radius: 1.3rem;
    box-shadow: 0rem 0.2rem 0.4rem var(--grey-dark);
    
    @include respond(tablet-p) {
        height: calc(8.8rem * 3.25);
        width: calc(6.2rem * 3.25);
    }

    @include respond(tablet-l) {
        height: calc(8.8rem * 3.5);
        width: calc(6.2rem * 3.5);
    }

    @include respond(desktop) {
        height: calc(8.8rem * 3.75);
        width: calc(6.2rem * 3.75);
    }

    @include respond(desktop-xl) {
        height: calc(8.8rem * 4);
        width: calc(6.2rem * 4);
    } 
}

.projects__card {
    scale: 85%;
    margin: 0;
}
