.cv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &__body {
        background-color: #0080FF80;
        background-color: #ffffff02;
        &--open {
            display: none;
        };

        &--tucked {
            width: 90vw;
        };
    };

    &__bodytext {

    };

    &__list {

    };

    &__list-item {

    };

    &__subsection {
        margin: var(--margin);
        padding: 3rem;
        background-color: var(--grey-light);
        border: solid 1px var(--grey-midlight-2);
        border-radius: 1rem;
    };

    @include respond(tablet-p) {
        &__body {

            &--open {

            };

            &--tucked {

            };
        };

        &__bodytext {

        };

        &__list {

        };

        &__list-item {

        };

        &__subsection {
            
        };
    }

    @include respond(tablet-l) {
        &__body {

            &--open {
                display: grid;
                max-width: 90vw
            };

            &--tucked {
                display: none;
            };
        };

        &__bodytext {

        };

        &__list {

        };

        &__list-item {

        };

        &__subsection {

        };
    }

    @include respond(desktop) {
        &__body {

            &--open {
                display: grid;
                max-width: calc(100vw / 3 * 2);
            };

            &--tucked {
                display: none;
            };
        };

        &__bodytext {

        };

        &__list {

        };

        &__list-item {

        };

        &__subsection {

        };
    }
}
