.hero {
    @include flexCol;
    min-height: 100vh;
}

.spincard {
    @include flex;
        flex-shrink: 0;
        height: calc(8.8rem * 3);
        width: calc(6.2rem * 3);
        position: relative;
        perspective: 100rem;
        transform-style: preserve-3d;

        @include respond(tablet-p) {
            height: calc(8.8rem * 3.25);
            width: calc(6.2rem * 3.25);
        }

        @include respond(tablet-l) {
            height: calc(8.8rem * 3.5);
            width: calc(6.2rem * 3.5);
        }

        @include respond(desktop) {
            height: calc(8.8rem * 3.75);
            width: calc(6.2rem * 3.75);
        }

        @include respond(desktop-xl) {
            height: calc(8.8rem * 4);
            width: calc(6.2rem * 4);
        } 

        &__front, &__back {
            height: 100%;
            width: 100%;
            position: absolute;
        }

        &__front {
            z-index: 3;
            backface-visibility: hidden;
        }

        &__back {
            z-index: 2;
        }
}

     

    


.hobby {
    @include flexCol;

    &__listitem {
        @include flexCol;

        @include respond(tablet-p) { 
            margin: calc(var(--margin) * 6) calc(var(--margin) * 0.5);
            list-style-type: none;
            flex-direction: row;
            padding-left: 2rem;
            
            &:nth-child(even) {
                flex-direction: row-reverse;
                padding-left: 0;
                padding-right: 2rem;
            }
        }
    } 
    
    &__textbox, &__textbox--short {
        margin: calc(var(--margin) * 4) 0 calc(var(--margin) * 12) 0;
        padding: 0 2rem;
        text-align: center;

        @include respond(tablet-p) { 
            text-align: start;
            width: min(93.75vw, 50ch);
            padding: 0;
            margin: 0 calc(var(--margin) * 10);
        }

        @include respond(tablet-l) { 
            width: 65ch;
        }
    }
}




