.essay {
  @include flexCol;

  &__textbox {
    width: 90vw
  }

  &__p {
    width: 90vw;
  }
}

.companies {
  background-color: var(--grey-midlight);
  width: 100vw;
  padding-block: 15rem;
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 85%);

  &__container {
    @include flexCol;
    width: 90vw;
    margin: 0 auto;
  }

  &__list {
    @include flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__listitem {
    width: 90vw;
  }
}

.logo {
  @include flex;
  margin: var(--margin);
  width: 100%;

  &:hover {
    background-color: purple;
  }

  &:hover > img {
    
  }

  &__img {
    height: 3rem;
  }
}

@include respond(tablet-p) {
  .companies__container {
    width: 66.66667vw;
  }

  .essay {
    &__textbox {
      width: min(66.66667vw, 130ch);
      margin-bottom: 10rem;
    }

    &__p {
      width: 100%;
    }
  }
}

@include respond(tablet-l) {
  .companies__listitem {
    width: unset;
  }

  .logo {
    width: unset;
  }
}

@include respond(desktop) {
  .companies {
    clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 70%);

    &__container {
      width: 50vw;
    }
  }
}

/* specific hover colors for brands */

.logo__img--white {
  height: 3rem;
  display: none;
}

.arbetsformedlingen:hover {
  background-color: #00005a;
}

.arbetsformedlingen:hover>.logo__img {
    display: none;
}

.arbetsformedlingen:hover>.logo__img--white {
    display: block;
}


.arbetsmiljoverket:hover {background-color: #ffd94d;}

.dramatify:hover {
  background-color: #2f9ff1;
}

.dramatify:hover>.logo__img {
    display: none;
}

.dramatify:hover>.logo__img--white {
    display: block;
}

.ehalsomyndigheten:hover {
  background-color: #6e0e50;
}

.ehalsomyndigheten:hover>.logo__img {
    display: none;
}

.ehalsomyndigheten:hover>.logo__img--white {
    display: block;
}

.endra:hover {background-color: #000000;}

.endra:hover>.logo__img {
    display: none;
}

.endra:hover>.logo__img--white {
    display: block;
}

.forsakringskassan:hover {background-color: #116a3e;}

.forsakringskassan:hover>.logo__img {
    display: none;
}

.forsakringskassan:hover>.logo__img--white {
    display: block;
}

.ikea:hover {background-color: #ffdb00;}

.lootlocker:hover {background-color: #436ec6;}

.lootlocker:hover>.logo__img {
    display: none;
}

.lootlocker:hover>.logo__img--white {
    display: block;
}

.materialexchange:hover {background-color: #14141e;}

.materialexchange:hover>.logo__img {
    display: none;
}

.materialexchange:hover>.logo__img--white {
    display: block;
}

.rerun:hover {background-color: #212121;}

.rerun:hover>.logo__img {
    display: none;
}

.rerun:hover>.logo__img--white {
    display: block;
}

.skatteverket:hover {background-color: #003366;}

.skatteverket:hover>.logo__img {
    display: none;
}

.skatteverket:hover>.logo__img--white {
    display: block;
}
