.header {
    z-index: 1;
    margin: 0;
    border-radius: 0;
    width: 100vw;
    position: fixed;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #dfdfdf;
    flex-shrink: 0;
    
    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.4rem;
        flex-shrink: 0;
    }

    &__link {
        color: #3c3c3c;
        text-decoration: none;
        padding: 1.6rem 1.5rem;
        
        &:hover {
            background-color: white;
        }
    }
}

@include respond(tablet-p) {
    .header {
        position: fixed;
        bottom:0;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 0.8rem;
        background-color: #dfdfdf;
        box-shadow: 0rem 0.2rem 0.5rem #3c3c3c;
        border-radius: 1rem;
        flex-shrink: 0;
        width: unset;

        &__link {
            padding: 1rem 2rem;
        }
    } 
}

@include respond(tablet-l) {
    .header {
        position: fixed;
        background-color: #fff;
        left: 50%;
        bottom: auto;
        transform: translateX(-50%);
        box-shadow: unset;
        margin: 0;
        border-radius: 0;
        width: 100vw;
        flex-shrink: 0;

        &__link:hover {
            background-color: #dfdfdf;
            border-radius: 0.5rem;
        }
    }
}
