.header {
    z-index: 1;
    margin: 0;
    width: 99vw;
    position: fixed;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    border-top: solid 1px ;
    border-left: solid 1px var(--grey-mid);
    border-right: solid 1px var(--grey-mid);
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--grey-light);
    flex-shrink: 0;

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.4rem;
        flex-shrink: 0;
    }

    &__link {
        color: var(--grey-dark);
        text-decoration: none;
        padding: 1.6rem 1.5rem;
        
        &:hover {
            background-color: var(--white);
        }
    }
}

@include respond(tablet-p) {
    .header {
        position: fixed;
        bottom:0;
        left: 50%;
        transform: translateX(-50%);
        margin-bottom: 0.8rem;
        background-color: var(--grey-light);
        box-shadow: 0rem 0.2rem 0.5rem var(--grey-dark);
        border-radius: 1rem;
        flex-shrink: 0;
        width: unset;

        &__link {
            padding: 1rem 2rem;
        }
    } 
}

@include respond(tablet-l) {
    .header {
        position: relative;
        background-color: var(--white);
        box-shadow: unset;
        margin: 0;
        border: unset;
        border-radius: 0;
        width: 100vw;
        flex-shrink: 0;

        &__link:hover {
            background-color: var(--grey-light);
            border-radius: 0.5rem;
        }
    }
}
